@tailwind base;
@tailwind components;
@tailwind utilities;


/* Variables for consistent color management */
:root {
  --bg-color: white;
  --text-color: #070707;
}

[data-theme='dark'] {
  --bg-color: #070707;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  background-color: var(--text-color);
  color: var(--bg-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


