@tailwind base;
@tailwind components;
@tailwind utilities;


/* Default (Light Mode) */
body {
  background-color: white;
  color: #070707;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #070707;
    color: white;
  }
}

